.catalog-page {
    background-color: #eee;
    padding-top: 1em;
}

.catalog-page h1 {
    margin: 1em 0em 0em;
    text-align: center;
    font-size: 4em;
    color: #f18e18;
}

.container-catalog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    padding: 5em 0 5em 10em;
    border-radius: 0.2em;
    gap: 6em;
    min-height: 34em;
}
.card {
    transition: scale 0.3s;
}

.card:hover {
    scale: 1.1;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    min-width: 25em;
    min-height: 25em;
    max-width: 25em;
    max-height: 25em;
    padding: 2em;
}

.button {
    border-radius: 3em;
    border: none;
}

.cart-button{
    border-radius: 3em;
    background-color: #85c44d;
    border: none;
}

.cart-button:hover{
    border-radius: 3em;
    background-color: white;
    color: #85c44d;
    border: 1px solid #85c44d;
    transition: all 0.4s ease-in-out;
}

.button.details-button {
    border-radius: 3em;
    border: 1px solid #111041;
    background-color: white;
}

.button.details-button:hover,
.button.details-button:hover a {
    color: white;
    background-color: #111041;
    transition: 0.4s ease-in-out, color 0.4s ease-in-out;
}

.button.basket-button {
    border-radius: 3em;
    background-color: #85c44d;
}

.button a {
    text-decoration: none;
    color: #111041;
    transition: background-color 0.2s, color 0.2s;
}
.button-wrapper {
    display: flex;
    justify-content: space-around;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
}
