.profile-section .nav-item:hover .nav-link{
    background-color: #111041;
    color: #f18e18;
}

.nav-fill .nav-link.active{
    background-color: #111041;
    color: white;
}

.profile-section .section-wrapper{
    margin: 12em auto;
}

.fieldset-wrapper{
    min-width: 20em;
    min-height: 20em;

}


