.profile-section {
    padding: 10em 0;
}

.profile-section .nav-item:hover .nav-link {
    background-color: #111041;
    color: #f18e18;
}

.nav-fill .nav-link.active {
    background-color: #111041;
    color: white;
}

.profile-section .section-wrapper {
    margin: 12em auto;
}

.fieldset-wrapper {
    min-width: 20em;
    min-height: 20em;
}

.your-products, .orders, .comments{
    text-align: center;
    padding-top: 8em;
    font-size: 2em;
    color: #f18e18;
}

.field-wrapper { 
    max-width: 45em;
    min-height: 50em;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 2em 4em;
}

.field-wrapper h2 {
    color: #f18e18;
    text-align: center;
    padding-bottom: 2em;
}

