.create-page {
    max-width: 30em;
    margin: 4em auto;
    padding: 4em 2em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.create-page .btn.submit {
    margin-top: 2em;
    margin-left: 7em;
}

.invalid-feedback {
    color: red;
}

.is-invalid {
    color: red;
}

.create-page h1{
    color: #f18e18;
    padding-bottom: 0.7em;
    text-align: center;
}
