.footer .container{
    max-width: 105em;
}


.list-group-item a {
    text-decoration: none;
    color: #f18e18;
}

.list-group-item:hover {
    scale: 1.2;
}



.footer-quick-links .quick-links-title{
    color: #f18e18;
}

.list-group,.quick-links-title{
    text-align: left;
}

.col-lg-3{
    width: 22%;
}

.col-lg-5 {
    color: #f18e18;
    text-align: -webkit-center;
}

.col-lg-12{
    color: #f18e18;
}

.footer .container .row {
    margin: auto;
    display: flex;
    gap: 0.5em;
}

.list-group-item {
    border: none;
    background-color: rgba(2, 2, 112, 0);
}

.footer-quick-links {
    text-decoration: none;
    text-align: center;
}

.footer {
    overflow: hidden;
    border-top: 2px solid rgba(0, 0, 0, 0.228);
    padding: 20px;
    background-color: #111041;
}

.logo-text img{
    border-radius: 0.6em ;
}


.logo-text img:hover{
    scale: 1.2;
}