@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

.login-section {
    background-color: #DDE5E8;
    background-repeat: no-repeat;
    background-position-y: -490px;
    background-size: cover;
    background-image: url(../../resources/images/tape-measure-on-wood.jpg);
    min-height: 85vh;
}

.login-section .container-wrapper {
    padding: 19em 0 0 0;
    margin: 0 auto;
    max-width: 81em;
    display: flex;
    justify-content: center;
}

.form-wrapper {
    padding: 0 6em;
}

.form-wrapper form {
    min-width: 26em;
}

.form-image-wrapper img {
    border-radius: 1em;
}

.title-wrapper {
    text-align: center;
}

.title-wrapper h2 {
    font-size: 4em;
    font-family: "Zen Dots", sans-serif;
}

.title-wrapper h2 span {
    color: #f18e18;
    font-family: "Zen Dots", sans-serif;
}

.or-section {
    display: flex;
    align-items: center;
    margin: 20px 0;
    max-width: 23em;
}

.border-line {
    flex-grow: 1;
    height: 1px;
    background-color: rgb(207, 202, 202);
}

.or-text {
    margin: 0 10px;
}

.inner-wrapper {
    display: flex;
    justify-content: space-between;
}

.inner-wrapper a {
    color: #0d6efd;
    padding-top: 0.4em;
    padding-right: 5em;
    text-decoration: none;
}
