
body{
  /* background-color: white;
  background-repeat: no-repeat;
  background-position:center -382px;
  background-size: contain;
  background-image: url(../resources/images/tape-measure-on-wood.jpg); */
}

*{
  text-shadow: 2px 1px 12px #00000062;
}

img {
    display: block;
    width: 100%;
    /* height: auto; */
  }

  .container {
    margin: 0 auto;
  }

  .main-section{
    min-height: 85vh;
  }

  .error-message{
    color: red;
  }

  




  /* Main Section Styles*/


  /* Navigation Section Styles*/


  /* Footer Section Styles*/


